{% if form.errors.items() | length > 0 %}

<div class="errors-container">

    {% for field, errors in form.errors.items() %}
    <div class="flex-row error-messages">
        
        <div class="flex-row">
            <img src="{{ url_for('static', filename='svg/cross.svg') }}" alt="cross">
        </div>
    
        {{ ', '.join(errors) }}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                
                {% for message in messages %}
                    {{ message }}
                {% endfor %}

            {% endif %}
        {% endwith %}

    </div>
    {% endfor %}

</div>
    
{% endif %}

{% with messages = get_flashed_messages() %}

    {% if messages %}
    <div class="errors-container">
        <div class="flex-row error-messages">
            <div class="flex-row">
                <img src="{{ url_for('static', filename='svg/cross.svg') }}" alt="cross">
            </div>
    
            {% if messages %}
                
                {% for message in messages %}
                    {{ message }}
                {% endfor %}

            {% endif %}
        </div>
    </div>
    {% endif %}

{% endwith %}