{% extends 'base.html' %}

{% block logo %}
    {% include './components/logo.html' %}
{% endblock logo %}

{% block content %}

<section class="indiv-container">
    <div class="form-container">
        <h2 class="form-header center-txt">Edit your Note</h2>

        <form class="form" method="POST" action="">
            {{ form.csrf_token }}
            <!-- title field -->
            {{
                form.title(
                    class = "form-input",
                    placeholder = "Edit Title",
                    value = note.title,
                    autocomplete = "off"
                )
            }}

            <!-- description field -->
            {{
                form.description(
                    class = "form-input",
                    placeholder = "Edit Description",
                    value = note.description,
                    autocomplete = "off"
                )
            }}

            <div class="edit-form-button-div flex-row">
                <!-- submit field -->
                {{
                    form.submit(
                        class = "edit-form-button"
                    )
                }}
                
                <a class="edit-form-button center-txt" 
                   id="goback-button" 
                   href="{{ url_for('notes.index') }}">
                   GO BACK
                </a>
            </div>
        </form>
    </div>
</section>

{% endblock content %}