<aside class="note-form flex-row">
    <div class="form-container flex-col">
        <h2 class="form-header center-txt">Take a Note</h2>

        <form class="form" method="POST">
            {{ form.csrf_token }}

            <div class="input-container">
                <!-- title field -->
                {{ 
                    form.title(
                        class = "form-input",
                        placeholder = "Title",
                        autocomplete = "off"
                    )
                }}
                
                <!-- description field -->
                {{
                    form.description(
                        class = "form-input",
                        placeholder = "Description",
                        autocomplete = "off"
                    )
                }}
            </div>

            <!-- submit field -->
            {{
                form.submit(
                    class = "note-form-button"
                )
            }}
        </form>
    </div>
</aside>