<aside class="note-form flex-row">
    <div class="form-container flex-col">
        <h2 class="form-header center-txt">Take a Note</h2>

        <form class="form" method="POST">
            <div class="input-container">
                <input 
                    class = "form-input"
                    type = "text"
                    name = "title" 
                    placeholder = "Title"
                    autocomplete = "off"    
                    maxlength = "62"
                    required 
                />
                
                <input 
                    class = "form-input"
                    type = "text" 
                    name = "desc"
                    placeholder = "Description"
                    autocomplete = "off" 
                />
            </div>

            <button class="note-form-button">SUBMIT</button>
        </form>
    </div>
</aside>