{% extends 'base.html' %}

{% block logo %}
    {% include './components/logo.html' %}
{% endblock logo %}

{% block content %}

<section class="indiv-container">
    <div class="form-container">
       <h2 class="form-header center-txt">Sign up to Notes</h2>

        {% include './components/flash_messages.html' %}

       <form class="form" method="POST" action="">
			{{ form.csrf_token }}

			<!-- Username Field -->
			{{	
				form.username(
				class = "form-input", 
				size = 30, 
				placeholder = "Username",
				autocomplete = "off",
				required = False
				)
			}}

			<!-- Email Field -->
			{{
				form.email(
					class = "form-input",
					placeholder = "Email",
					autocomplete = "off",
					required = False
				)
			}}

			<!-- Password Fields -->
			{{
				form.password(
					class = "form-input",
					placeholder = "Password",
					autocomplete = "off",
					required = False
				)
			}}

			{{
				form.confirm_password(
					class = "form-input",
					placeholder = "Confirm Password",
					autocomplete = "off",
					required = False
				)
			}}
            
			<!-- Submit Field -->
			{{
				form.submit(
					class = "note-form-button"
				)
			}}
                
            <span style="display: block; margin-top: 8px; font-size: 14px;">
                  Already registered? 
                  <a href="{{ url_for('auth.login') }}"> Login </a>
            </span>
        </form>
    </div>
</section>

{% endblock content %}